__pycache__/
*.pyc
.venv/
.DS_Store
.idea/
.pytest_cache/
.ruff_cache/
.whisper.toml
*.egg-info/
build/
dist/
.coverage
.coverage.*
.mypy_cache/
.nox/
.tox/
transcripts/
audio_test.m4a
audio_test.txt
